Source: termsaver
Section: misc
Priority: optional
Maintainer: Bruno Braga <bruno.braga@gmail.com>
Build-Depends: python, debhelper (>= 7.4.3)
Standards-Version: 3.9.1
Vcs-Git: git://github.com/brunobraga/termsaver.git
Vcs-Browser: https://github.com/brunobraga/termsaver
Homepage: http://termsaver.info

Package: termsaver
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Simple text-based terminal screensaver.
